@{
    ViewData["Title"] = "Partyfy";
}

<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="main-container">

    <div class="left-box">
        <p class="text">Get ready to step into a world of glittering lights, groovy beats, and unforgettable nights! At <strong>Partyfy</strong>, we’re all about bringing the wild party vibe to life.</p>
    </div>

    <div class="center-box">
        <button class="custom-button">UPCOMING EVENTS</button>
    </div>

    <div class="right-box">
        <p class ="text">Whether you want to host your own party or discover the hottest disco events happening near you, we've got everything you need to make it happen.</p>
    </div>
</div>

@section Styles {
    <style>
        .main-container {
            display: flex;
            justify-content: space-between;
            padding:0 1px;
        }

        .center-box {
            width: 60%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            padding: 200px;
            margin-top: 140px;
        }

        .left-box, .right-box {
            height: 50%;
            width: 25%;
            background-color: rgba(97, 149, 228, 0.2);
            color: white;
            padding: 20px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
        }

        .custom-button {
            background-color: white;
            color: #CA005E; 
            border: solid #970176;
            padding: 12px 24px;
            border-radius: 30px; 
            font-size: 15px;
            font-family: 'Poppins', sans-serif; 
            font-weight: 700;
            cursor: pointer; 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .custom-button:hover {
            background-color: #970176; 
            transform: translateY(-3px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
        }

        .custom-button:active {
            transform: translateY(0); 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        }

        body {
            height: 100%;
            background-image: url('@Url.Content("~/images/index.png")');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Poppins, sans-serif;
            font-weight: 300;
        }
    </style>
}
